[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django-grappelli = "==2.9.1"
djangorestframework = "==3.6.2"
djangorestframework-jwt = "==1.9.0"
requests = "==2.13.0"
django-modeltranslation = "==0.12"
django-rest-swagger = "==2.1.2"
"psycopg2" = "==2.7.1"
pytz = "*"
django-mptt = "==0.8.7"
coreapi = "*"
django = "==1.11.10"
pillow = "==4.0.0"
pyyaml = "*"


[dev-packages]

pytest = "==3.0.7"
pytest-django = "==3.1.2"
ipython = "*"
django-debug-toolbar = "==1.9"
django-debug-toolbar-request-history = "*"
django-extensions = "*"
pylint = "*"


[requires]

python_version = "3.6"
